{% extends "theme/base.html" %}
{% load static wagtailcore_tags %}

{% block content %}

  <div class="nhsuk-width-container app-width-container nhsuk-main-wrapper">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <h1>{{ self.title }}</h1>
        {{ self.content }}
      </div>
    </div>
  </div>

  {% include "partials/fixed_fluid_layouts.html" with content=self.content %}

  <div class="bg-color-white">
    <div class="nhsuk-width-container app-width-container nhsuk-u-padding-top-5 nhsuk-u-padding-bottom-5">
      {% include "partials/related_content.html" with pages_group_list=related_content_list %}
    </div>
  </div>

{% endblock content %}
