{% extends "theme/base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
  <style>
    li.navigation-list {
        display: inline-block;
    }

    @media (min-width: 48.0625em) {
        li.navigation-list {
            display: block;
        }
    }
  </style>
{% endblock extra_css %}

{% block content %}

  <div class="nhsuk-width-container app-width-container nhsuk-main-wrapper">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-three-quarters">
        <h1 class="nhsuk-u-margin-0">{{ self.title }}</h1>
      </div>
    </div>

    {% include "partials/fixed_fluid_layout.html" with content=self.content %}

    <div class="nhsuk-grid-row nhsuk-u-padding-bottom-5">

      {% if news_types_list %}
        <div class="nhsuk-grid-column-one-quarter">
          <nav aria-labelledby="page-filter-heading">
            <h2 id="page-filter-heading" class="nhsuk-heading-m nhsuk-u-padding-bottom-2 nhsuk-u-margin-bottom-3 border-bottom-separator-black">
              Filter by type
            </h2>
            <ul class="nhsuk-u-padding-0">
              {% for item in news_types_list %}
                <li class="navigation-list">
                  <a href="?{{ item.qp }}" class="app-tag nhsuk-u-font-size-14{% if item.is_active %} app-tag__selected{% endif %}">{{ item.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      {% endif %}

      <div class="nhsuk-grid-column-{% if news_types_list %}three-quarters{% else %}full{% endif %}">

        <ul class="nhsuk-grid-row nhsuk-card-group">

          {% for item in news_list %}

            <li class="nhsuk-grid-column-{% if news_types_list %}full{% else %}one-half{% endif %} nhsuk-card-group__item">
              <div class="nhsuk-card d-flex align-items-center nhsuk-u-padding-5">
                <div>
                  <h2 class="nhsuk-card__heading nhsuk-heading-m">
                    <a href="{{ item.url }}" class="nhsuk-card__link">{{ item.title }}</a>
                  </h2>
                  <p class="nhsuk-card__description">{{ item.search_description }}</p>
                  <p class="nhsuk-body-s font-color-secondary nhsuk-u-margin-0">{{ item.first_published_at|date:'F j, Y' }}</p>
                  {% if news_types_list %}
                    <ul class="nhsuk-u-margin-0 nhsuk-u-padding-0">
                      {% for news_type_item in item.news_type.all %}
                        <li class="app-tag app-tag__selected nhsuk-u-font-size-14">{{ news_type_item.title }}</li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </div>

                {% if item.search_image %}
                  {% image item.search_image width-250 as news_image %}
                  <img src="{{ news_image.url }}" alt="" class="ml-auto" />
                {% endif %}
 
              </div>
            </li>

          {% endfor %}

        </ul>

        {% include "partials/pagination.html" with pages=news_list range=pagination_range query_params=current_url_query_params %}

      </div>

    </div>

  </div>

{% endblock content %}
