{% extends "theme/views_base.html" %}
{% load static wagtailcore_tags wagtailimages_tags base_filters %}

{% block extra_css %}
  <style>
    button.form-input-appended-button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        box-shadow: none;
        margin: 0;
        padding: 4px 14px 0px 10px;
        fill: var(--white);
    }

    li.navigation-list {
        display: inline-block;
    }

    @media (min-width: 48.0625em) {
        li.navigation-list {
            display: block;
        }
    }
  </style>
{% endblock extra_css %}

{% block title %}
  Search
{% endblock title %}

{% block content %}

  <div class="nhsuk-width-container app-width-container nhsuk-main-wrapper">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <h1>
          Search results
          {% if search_query %}for "{{ search_query }}"{% endif %}
        </h1>
 
        <form id="search-page-form" method="get" action="{% url 'search' %}" role="search">
          <div class="nhsuk-form-group">
            <label for="search-page-search-field" class="nhsuk-u-visually-hidden">Search the Innovation Hub website</label>
            <div class="d-flex">
              <input id="search-page-search-field"
                     name="query"
                     type="search"
                     {% if search_query %} value="{{ search_query }}"{% endif %}
                     placeholder="Search"
                     autocomplete="off"
                     class="nhsuk-input nhsuk-u-width-two-thirds"/>
              <button type="submit" class="nhsuk-button form-input-appended-button">
                <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" aria-hidden="true" focusable="false" height="24" width="24">
                  <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z" />
                </svg>
              </button>
            </div>

          </div>
        </form>

      </div>
    </div>

    <div class="nhsuk-grid-row nhsuk-u-padding-bottom-5">

      <div class="nhsuk-grid-column-one-quarter">
        <h2 class="nhsuk-heading-m nhsuk-u-padding-bottom-2 nhsuk-u-margin-bottom-3 border-bottom-separator-dark">
          Filter by type
        </h2>
        <nav>
          <ol class="nhsuk-u-padding-0">
            {% for item in pages_types_list %}
              <li class="navigation-list">
                <a href="?{{ item.qp }}"
                   class="tag-link nhsuk-u-font-size-14{% if item.is_active %} selected{% endif %}">{{ item.name }}</a>
              </li>
            {% endfor %}
          </ol>
        </nav>
      </div>

      <div class="nhsuk-grid-column-three-quarters">

        {% if search_results %}

          <ul class="nhsuk-list">

            {% for item in search_results %}

              <li class="nhsuk-grid-column-full">
                <div class="d-flex align-items-center nhsuk-u-padding-4">
                  <div>
                    <h2 class="nhsuk-card__heading nhsuk-heading-m">
                      <div class="tag-text tag-text__transparent nhsuk-u-font-size-14">{{ item|pagetypename }}</div>
                      <div class="nhsuk-u-padding-top-2">
                        <a href="{% pageurl item %}">{{ item.seo_title|default:item.title }}</a>
                      </div>
                    </h2>
                    {% if item.search_description %}<p class="nhsuk-card__description">{{ item.search_description }}</p>{% endif %}
                    <p class="nhsuk-body-s font-color-secondary">{{ item.first_published_at|date:'F j, Y' }}</p>
                  </div>

                  {% if item.search_image %}
                    {% image item.search_image max-250x250 as case_study_image %}
                    <img src="{{ case_study_image.url }}" class="nhsuk-card__img" alt="{{ case_study_image.alt }}" />
                  {% endif %}

                </div>
                <hr class="nhsuk-section-break nhsuk-section-break--visible"/>
              </li>

            {% endfor %}
          </ul>

        {% elif search_query %}
          No results found
        {% else %}
          Please, provide a search
        {% endif %}
 
        {% include "partials/pagination.html" with pages=search_results range=pagination_range query_params=current_url_query_params %}

      </div>

    </div>

  </div>

{% endblock content %}
