{% load static wagtailcore_tags wagtailimages_tags %}

<section class="nhsuk-hero">
  <div class="nhsuk-width-container app-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row d-flex align-items-center">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper app-hero__wrapper">
          {% if self.heading %}<h1 class="nhsuk-u-margin-bottom-4">{{ self.heading }}</h1>{% endif %}
          {% if self.text %}<p class="nhsuk-body-l">{{ self.text }}</p>{% endif %}
          {% if self.link_url %}<a href="{{ self.link_url }}" class="round-button-link">{{ self.link_label }}</a>{% endif %}
        </div>
      </div>
      {% if self.image %}
        <div class="nhsuk-grid-column-one-third text-align-center">
          {% image self.image max-250x250 as hero_image %}
          <img src="{{ hero_image.url }}" alt="{{ hero_image.alt }}" />
        </div>
      {% endif %}
    </div>
  </div>
</section>
