{% load static wagtailcore_tags wagtailimages_tags %}

<div class="image-gallery-block columns-{{ self.columns }} nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-5"
     {% if self.row_height %} style="grid-auto-rows: {{ self.row_height }}px;"{% endif %}>

  {% for item in self.gallery %}

    {% if item.url %}<a href="{{ item.url }}">{% endif %}

    {% image item.image max-250x250 as item_image %}
    <img src="{{ item_image.url }}"
         class="column-{{ item.column_span }}"
         alt=""
         {% if self.row_height %} style="max-height: {{ self.row_height }}px;"{% endif %}/>

    {% if item.url %}</a>{% endif %}

  {% endfor %}

</div>
