<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <div class="app-stepper">
      <ol class="nhsuk-u-margin-0 nhsuk-u-padding-0">

        {% for step in self.steps %}
          <li class="app-stepper__step">
            <div class="app-stepper__header">
              <h3 class="app-stepper__title">
                <span class="app-stepper__circle app-stepper__circle--number">
                  <span class="app-stepper__circle-inner">
                    <span class="nhsuk-u-visually-hidden">Step</span>
                    {{ forloop.counter }}
                  </span>
                </span>
                <div class="nhsuk-heading-m nhsuk-u-margin-bottom-2">{{ step.title }}</div>
              </h3>
            </div>
            <p class="nhsuk-u-margin-bottom-3">{{ step.text }}</p>
          </li>
        {% endfor %}

      </ol>
    </div>

  </div>
</div>
