PIPENV_VENV_IN_PROJECT=true

CSRF_TRUSTED_ORIGINS=http://localhost:8000
DJANGO_SECRET_KEY=django-insecure-ji=cti8z0pluj)-zzsey1xygtlagd^x%s_dzac15r_k0ke#w30

DB_HOST=localhost
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=admin
DB_NAME=is_homepage

ENABLE_ANALYTICS=false

EMAIL_NOTIFICATION_API_ISSUER={SECRET}
EMAIL_NOTIFICATION_API_SECRET={SECRET}
EMAIL_NOTIFICATION_API_BASE_URL=https://api.notifications.service.gov.uk
