# Assets.
/media
/static

# Cache / Temporary.
**/__pycache__/
**/__pycache__/*.pyc
*.pyc
tmp

# Environemnt variables
.env

# Virtual Environments.
.venv
venv

# DB Seeds
.db-seed/*
!.db-seed/0.sql

# Wagtail Media
.wagtail-media