[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<5.1,>=5.0"
wagtail = "<6.1,>=6.0"
autopep8 = "==2.3.1"
django-compressor = "==4.5.1"
django-extensions = "==3.2.3"
django-libsass = "==0.9"
django-weasyprint = "===2.3.0"
django-debug-toolbar = "==4.4.6"
djlint = "==1.34.1"
notifications-python-client = "==10.0.0"
psycopg = "~=3.2.1"
psutil = "==6.0.0"
schedule = "==1.2.2"
wagtail-metadata = "==5.0.0"
wagtail-nhsuk-frontend = "==1.5.2"
wagtail-pdf-view = "==0.2.1"
elasticsearch = "<9.0.0,>=8.0.0"

[dev-packages]

[requires]
python_version = "3.10"
