[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<4.2,>=4.1"
wagtail = ">=4.2,<4.3"
autopep8 = "==2.0.1"
django-compressor = "==4.3.1"
django-extensions = "==3.2.1"
django-libsass = "==0.9"
django-weasyprint = "==2.2.0"
django-debug-toolbar = "==3.8.1"
djlint = "==1.19.13"
notifications-python-client = "==6.4.1"
psycopg2 = "==2.9.5"
wagtail-metadata = "==4.0.2"
wagtail-nhsuk-frontend = "==1.5.2"
wagtail-pdf-view = "==0.2.1"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.10"
