.app-page-banner {

  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;

  .app-page-banner__overlay {
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--white);

    .alignment-left {
      text-align: start;
    }

    .alignment-spaced-left {

      text-align: start;
      padding: 56px;

      @media (max-width: 72.75em) { padding: 24px; }

    }

    .alignment-center {
      text-align: center;
    }

    // @media (max-width: 61.875em) {
      // background-color: rgba(0,0,0,.2);

    // }

    .app-page-banner__content {
      width: 100%;
    }

  }

}
