:root {
  --primary-color: #005eb8;
  // --success-color: #007f3b;
  // --warning-color: 	#ffeb3b;
  // --error-color: #d5281b;

  --nhsuk-text-color: #212b32;
  --nhsuk-secondary-text-color: #4c6272;

  --white: #ffffff;

  --color_nhsuk-grey-1:	#4c6272;
  --color_nhsuk-grey-2:	#768692;
  --color_nhsuk-grey-3: #aeb7bd;
  --color_nhsuk-grey-4: #d8dde0;
  --color_nhsuk-grey-5: #f0f4f5;

  // --nhsuk-border-color:	#d8dde0;
  // --nhsuk-button-color:	#007f3b;

  // --mobile:  20em; /* 320px */
  // --tablet:  40.0625em; /* 641px */
  // --desktop-breakpoint: 48.0625em; /* 769px */
  // --large-desktop: 61.875em; /* 990px */
}


.d-block { display: block; }
.d-inline-block { display: inline-block; }
.d-flex { display: flex; }
.d-none { display: none; }

.flex-auto { flex: auto; }

.align-items-center { align-items: center; }
.text-align-center { text-align: center; }

/* .justify-content-space-between { justify-content: space-between; } */
/* .flex-direction-column { flex-direction: column; } */

.ml-auto { margin-left: auto; }
.mr-auto { margin-right: auto; }

.text-align-left { text-align: start; }
.text-align-center { text-align: center; }
.text-align-right { text-align: end; }


.app-width-container-fluid {
  margin: 0;
  max-width: none;
}

.full-width-section {
  margin-left: -1000rem;
  margin-right: -1000rem;
  padding-left: 1000rem;

  // margin: 0 -9999rem;
  // padding: 0.25rem 9999rem;
}

// .overflow-hidden { overflow: hidden; }
.overflow-x-hidden { overflow-x: hidden; }
// .overflow-x-scroll {
//   @media (max-width: 767px) {
//     overflow-x: scroll;
//   }
// }


.bg-color-white { background-color: var(--white); }

.font-color-secondary {
  color: var(--nhsuk-secondary-text-color);
}

.border-bottom-separator-dark {
  border-bottom: 2px solid #212b32;
}



/* App custom width */
.app-header__navigation {
  max-width: 1164px;
}

.app-width-container,
.nhsuk-hero .nhsuk-width-container,
.nhsuk-breadcrumb .nhsuk-width-container {
  max-width: 1100px;

  @media (min-width: 769px) and (max-width: 1164px) {
    margin: 0 32px;
  }
}


/* Content visibility. */
@media (max-width: 48.0525em) {
  .app-u-hide-mobile {
    display: none;
  }
}

@media (min-width: 48.0625em) {
  .app-u-hide-desktop {
    display: none;
  }
}

@media print {
  .app-u-hide-print { display: none; }
  a:after { content: none; }
  div.page-break {
    break-before: always;
    break-inside: avoid;
  }
}

@media (min-width: 48.0625em) {
  .app-component-reading-width h1 {
    max-width: 14.5em
  }

  .app-component-reading-width h2 {
    max-width: 22em
  }

  .app-component-reading-width h3,
  .app-component-reading-width .nhsuk-lede-text,
  .app-component-reading-width .nhsuk-body-l {
    max-width: 29em
  }

  .app-component-reading-width h4 {
    max-width: 32em
  }

  .app-component-reading-width p,
  .app-component-reading-width ul,
  .app-component-reading-width ol,
  .app-component-reading-width .nhsuk-details {
    max-width: 37em
  }

  .app-component-reading-width .nhsuk-body-s {
    max-width: 47em
  }

  .app-component-reading-width .app-example,
  .app-component-reading-width .nhsuk-table,
  .app-component-reading-width .app-colour-list,
  .app-component-reading-width .app-example--image,
  .app-component-reading-width .app-pre,
  .app-component-reading-width .nhsuk-image__img {
    max-width: 44em
  }

  .app-component-reading-width .app-tabs,
  .app-component-reading-width .nhsuk-pagination__list {
    max-width: 100%
  }
}



.page-banner {
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  
  .page-banner__overlay {
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--white);

    @media (max-width: 61.875em) {
      background-color: rgba(0,0,0,.2);
    }

    .page-banner__content {
      width: 100%;
    }
  }
}




.tag-text {
  display: inline-block;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  
  &.tag-text__primary {
    background: var(--primary-color);
    color: var(--white);
  }
  &.tag-text__transparent {
    border: 1px solid var(--color_nhsuk-grey-3);
    color: var(--nhsuk-secondary-text-color);
  }
}

.tag-link {
  display: inline-block;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 5px 10px;
  // background: #dfe2e4;
  text-decoration: none;

  &.tag-link:link,
  &.tag-link:visited {
    color: #005eb8;
  }

  &.tag-link.selected,
  &.tag-link:active,
  &.tag-link:hover {
    color: var(--white);
    background: var(--primary-color);
    // background: #425563;
  }

  &.tag-link:focus {
    box-shadow: 0 0 0 4px #ffcd60;
  }
}

.round-button-link {
  padding: 1em 1.8em;
  background: var(--white);
  border-radius: 1.22rem;
  font-weight: 600;

  &.round-button-link:link,
  &.round-button-link:visited {
    color: #005eb8;
  }

  &.round-button-link.selected,
  &.round-button-link:active,
  &.round-button-link:hover {
    // box-shadow: 0 0 0 .167rem #fae100;
    color: var(--white);
    background: var(--color_nhsuk-grey-2);
  }

  &.round-button-link:focus {
    box-shadow: 0 0 0 4px #ffcd60;
  }
}


.app-pagination {

  padding: 0;

  li {
    display: inline-block;
    margin: 0;

    a {
      border: 1px solid var(--color_nhsuk-grey-3);
      border-radius: 5px;
      padding: 8px 16px;
      margin: 2px;
      text-decoration: none;
    }

    a.selected {
      background-color: #0060b8;
      color: white;
    }

  }
}
