{% extends "theme/base.html" %}
{% load static wagtailcore_tags %}

{% block content %}

  Hello, welcome to the future innovation hub!

  {{ self.content }}

  {% for block in self.content %}

    {% include_block block %}

  {% endfor %}


  
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      
      <div class="full-width-section bg-color-white">
        <h2 class="nhsuk-heading-l nhsuk-u-padding-top-5 nhsuk-u-margin-bottom-0">titulo</h2>
        <p> kfjsdfl jlsdjfaklsjd fljasdf hjkfdhg skjdfhgkj sdkfh kjsdfhg skjfhg kjsdfh gksjkj kdjfg lskdfjg skdfjg lskjfdgl sldfkjg slkdfg fdhg kjsdfh gksjfhg ksjdghksjgfd kjdfh gksd asl</p>
      </div>

    </div>
  </div>

 
  <div class="nhsuk-width-container app-width-container">
 
    <h2>What we can offer you</h2>
    <ul>
      <li>Relevant information about funding, regulation, and maturing your innovation.</li>
      <li>Matching your needs to the relevant support organisations who can help you take the next step.</li>
      <li>End-to-end innovation support, guiding you through the journey from idea to adoption.</li>
    </ul>
 
    <div class="nhsuk-action-link">
      <a href="/transactional/"
         title="Find the right support for your innovation"
         class="nhsuk-action-link__link">
        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24"
             aria-hidden="true">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
          </path>
        </svg>
        <span class="nhsuk-action-link__text">Find the right support for your innovation</span>
      </a>
    </div>
 
  </div>
 
  <div class="bg-color-white nhsuk-u-padding-top-7 nhsuk-u-padding-bottom-5">
    <div class="nhsuk-width-container app-width-container">
 
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
 
          <h2>How it works</h2>
 
          <div class="app-step-nav app-step-nav--large">
            <ol class="app-step-nav__steps">
              <li class="app-step-nav__step">
                <div class="app-step-nav__header">
                  <h3 class="app-step-nav__title">
                    <span class="app-step-nav__circle app-step-nav__circle--number">
                      <span class="app-step-nav__circle-inner">
                        <span class="nhsuk-u-visually-hidden">Step</span>
                        1
                      </span>
                    </span>
                    <div class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Find information relevant to you</div>
                  </h3>
                </div>
                <p class="app-step-nav__paragraph">
                  Answer questions about your innovation to help us guide you towards the right level of information.
                </p>
              </li>
              <li class="app-step-nav__step">
                <div class="app-step-nav__header">
                  <h3 class="app-step-nav__title">
                    <span class="app-step-nav__circle app-step-nav__circle--number">
                      <span class="app-step-nav__circle-inner">
                        <span class="nhsuk-u-visually-hidden">Step</span>
                        2
                      </span>
                    </span>
                    <div class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Create an account</div>
                  </h3>
                </div>
                <p class="app-step-nav__paragraph">
                  Provide detailed information about your innovation by answering our structured questions and submit your innovation for needs assessment.
                </p>
              </li>
              <li class="app-step-nav__step">
                <div class="app-step-nav__header">
                  <h3 class="app-step-nav__title">
                    <span class="app-step-nav__circle app-step-nav__circle--number">
                      <span class="app-step-nav__circle-inner">
                        <span class="nhsuk-u-visually-hidden">Step</span>
                        3
                      </span>
                    </span>
                    <div class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Get tailored support</div>
                  </h3>
                </div>
                <p class="app-step-nav__paragraph">
                  We match you with the organisations that can support you in taking your next steps and get your innovation market-ready.
                </p>
              </li>
              <li class="app-step-nav__step">
                <div class="app-step-nav__header">
                  <h3 class="app-step-nav__title">
                    <span class="app-step-nav__circle app-step-nav__circle--number">
                      <span class="app-step-nav__circle-inner">
                        <span class="nhsuk-u-visually-hidden">Step</span>
                        4
                      </span>
                    </span>
                    <div class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Accelerate the uptake of your innovation</div>
                  </h3>
                </div>
                <p class="app-step-nav__paragraph">
                  Develop your innovation and bring it to patients faster with relevant information and support throughout the process.
                </p>
              </li>
            </ol>
          </div>
 
        </div>
      </div>
 
    </div>
  </div>
 
 
  <div class="nhsuk-width-container app-width-container nhsuk-u-padding-top-7">
 
    <h2>Case studies</h2>
 
    <ul class="nhsuk-grid-row nhsuk-card-group">
 
 
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <img class="nhsuk-card__img"
               src="/case-studies/transcend-packaging/transcend.jpg"
               alt="Representation of a scenario regarding the case study Manufacturing COVID-19 PPE using sustainable plastics">
          <div class="nhsuk-card__content">
            <h3 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="/case-studies/transcend-packaging">Manufacturing COVID-19 PPE using sustainable plastics</a>
            </h3>
            <p class="nhsuk-card__description">A sustainable response to the COVID-19 pandemic</p>
          </div>
        </div>
      </li>
 
 
 
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <img class="nhsuk-card__img"
               src="/case-studies/s12-solutions/s12-solutions.jpg"
               alt="Representation of a scenario regarding the case study Developing a digital innovation to support the mental health care pathway">
          <div class="nhsuk-card__content">
            <h3 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="/case-studies/s12-solutions">Developing a digital innovation to support the mental health care pathway</a>
            </h3>
            <p class="nhsuk-card__description">
              Improving Section 12 mental health assessments.
            </p>
          </div>
        </div>
      </li>
 
 
 
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <img class="nhsuk-card__img"
               src="/case-studies/tookie/clinical-focus-group.jpg"
               alt="Representation of a scenario regarding the case study Clothing tailored to support patients living with long-term catheters and ports">
          <div class="nhsuk-card__content">
            <h3 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="/case-studies/tookie">Clothing tailored to support patients living with long-term catheters and ports</a>
            </h3>
            <p class="nhsuk-card__description">
            </p>
          </div>
        </div>
      </li>
 
    </ul>
 
    <div class="nhsuk-action-link">
      <a href="/case-studies" class="nhsuk-action-link__link">
        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24"
             aria-hidden="true">
          <path d="M0 0h24v24H0z" fill="none">
          </path>
          <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
          </path>
        </svg>
        <span class="nhsuk-action-link__text">
          View all case studies
        </span>
      </a>
    </div>
 
  </div>

{% endblock content %}
