{% extends "theme/base.html" %}
{% load static wagtailcore_tags base_tags %}

{% block extra_css %}
  <link rel="stylesheet" type="text/x-scss" href="{% static 'styles/print.scss' %}"/>
{% endblock extra_css %}

{% block content %}

  <div class="frontcover">
    <span class="nhsuk-caption-l">{{ self.get_parent.title }} stage</span>
    <p class="nhsuk-heading-xl">{{ self.title }} guide</p>
    Downloaded on {% now "F jS, Y" %}
  </div>
 
  {% html_headings_elements_list self.content '2' as page_headings_list %}

  <div class="contents">
    <h1 class="nhsuk-heading-l">Contents</h1>
    <ul class="table-of-contents">
      {% for page_headings in page_headings_list %}
        <li>
          <a href="#{{ page_headings.title|slugify }}">{{ page_headings.title }}</a>
          <ul class="table-of-contents__inner-list">
            {% for details_page in page_headings.get_children.specific %}
              <li>
                <a href="#detail-page-{{ details_page.title|slugify }}">{{ details_page.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </div>

  {% for block in self.content %}
    <div class="nhsuk-grid-row">
      {% for layout_grid_block in block.value %}
        <div class="nhsuk-grid-column-{{ layout_grid_block.column_width }}">
          {% html_headings_parse layout_grid_block.content '2' 'add-id-attribute' 'replace-level:1' %}
        </div>
      {% endfor %}
    </div>
  {% endfor %}

{% endblock content %}
