{% extends "theme/base.html" %}
{% load static wagtailcore_tags base_tags %}

{% block extra_css %}
  <link rel="stylesheet" type="text/x-scss" href="{% static 'styles/print.scss' %}" />
{% endblock extra_css %}

{% block content %}

  <div class="frontcover">
    <span class="nhsuk-caption-l">{{ self.get_parent.title }}</span>
    <p class="nhsuk-heading-xl">{{ self.title }} stage</p>
    Downloaded on {% now "F jS, Y" %}
  </div>

  <div class="contents">
    <h1 class="nhsuk-heading-l">Contents</h1>
    <ul class="table-of-contents">
      <li>
        <a href="#stage-page-{{ self.title|slugify }}">{{ self.title.title }}</a>
        <ul class="table-of-contents__inner-list">
          {% for details_page in self.get_children.specific %}
            <li>
              <a href="#detail-page-{{ details_page.title|slugify }}">{{ details_page.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </div>

  {% comment %} Stage page information. {% endcomment %}
  <h1 id="stage-page-{{ self.title|slugify }}" class="nhsuk-u-margin-bottom-1">
    {{ self.title }}<span class="nhsuk-u-visually-hidden"> stage</span>
  </h1>
  {% for block in self.content %}
    <div class="nhsuk-grid-row">
      {% for layout_grid_block in block.value %}
        <div class="nhsuk-grid-column-{{ layout_grid_block.column_width }}">
          {% html_headings_parse layout_grid_block.content '2' 'add-id-attribute' 'replace-level:1' %}
        </div>
      {% endfor %}
    </div>
  {% endfor %}

  {% comment %} Children detail pages information. {% endcomment %}
  {% for details_page in self.get_children.specific %}

    <h1 id="detail-page-{{ details_page.title|slugify }}" class="nhsuk-u-margin-bottom-1">
      <span class="nhsuk-u-visually-hidden">{{ self.title }} stage \ </span>
      {{ details_page.title }}<span class="nhsuk-u-visually-hidden"> guide</span>
    </h1>

    {% for block in details_page.content %}
      <div class="nhsuk-grid-row">
        {% for layout_grid_block in block.value %}
          <div class="nhsuk-grid-column-{{ layout_grid_block.column_width }}">{{ layout_grid_block.content }}</div>
        {% endfor %}
      </div>
    {% endfor %}

  {% endfor %}

{% endblock content %}
