{% extends "theme/base.html" %}
{% load static wagtailcore_tags wagtailroutablepage_tags base_tags base_filters %}

{% block extra_css %}
  <link rel="stylesheet" type="text/x-scss" href="{% static 'styles/left_menu_layout.scss' %}" />
{% endblock extra_css %}

{% block content %}

  <div class="nhsuk-width-container app-width-container nhsuk-main-wrapper">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <div class="app-pane">

          <div class="app-pane__side-bar">
            {% include "partials/pages_list_menu.html" with pages=self.get_children.specific current_url=request.path %}
          </div>

          <div class="app-pane__main-content">

            <h1>{{ self.title | highlight:search_params }}</h1>

            {% for block in self.content %}
              <div class="nhsuk-grid-row">
                {% for layout_grid_block in block.value %}
                  <div class="nhsuk-grid-column-{{ layout_grid_block.column_width }}">
                    {% html_headings_parse layout_grid_block.content '2' 'add-id-attribute' as parsed_headings %} 
                    {{ parsed_headings | highlight:search_params }}
                  </div>
                {% endfor %}
              </div>
            {% endfor %}

            <div>
              <a href="{% routablepageurl page 'pdf' %}" class="app-print-button" target="_blank">
                Print this stage<span class="nhsuk-u-visually-hidden">(opens a PDF in a new page)</span>
              </a>
            </div>

            {% include "partials/content_navigation.html" with next_url=self.get_children.first.url next_label=self.get_children.first.title %}

          </div>

        </div>

      </div>
    </div>
  </div>

{% endblock content %}
