{% extends "theme/base.html" %}
{% load static wagtailcore_tags %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full app-component-reading-width">

      <div class="app-pane">

        <div class="app-pane__side-bar">
          <nav class="app-side-nav" role="navigation" aria-label="Main Navigation">
            <ul class="nhsuk-list app-side-nav__list">
              {% for section in self.get_menu %}
                <li class="app-side-nav__item{% if section.children %} app-side-nav__item--current{% endif %}">
                  <a href="{{ section.url }}" class="app-side-nav__link">{{ section.label }}</a>
                  {% if section.children %}
                    <ul class="app-side-nav__list app-side-nav__list--nested">
                      {% for innerItem in section.children %}
                        <li class="app-side-nav__item">
                          <a href="#{{ innerItem.slug }}" class="app-side-nav__link govuk-link govuk-link--no-visited-state">
                            {{ innerItem.label }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </nav>
        </div>

        <div class="app-pane__main-content">

          <h1>{{ self.title }}</h1>

          {% comment %} Category: {{ self.category.name }} {% endcomment %}

          {{ self.get_parsed_html|richtext }}

          {% include "partials/content_navigation.html" with previous_url=self.previous_sibling.url previous_label=self.previous_sibling.title next_url=self.next_sibling.url next_label=self.next_sibling.title %}

        </div>

      </div>
    </div>
  </div>

{% endblock content %}
