{% extends "theme/base.html" %}
{% load static wagtailcore_tags %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ self.title }}</h1>
 
      {{ self.intro|richtext }}
 
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="app-accordion nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">

        <button type="button"
                class="app-accordion__show-hide-all-button nhsuk-u-font-size-16 nhsuk-u-margin-bottom-2">
          <span class="app-accordion__chevron app-accordion__chevron--down"></span>
          <span class="app-accordion__show-hide-all-button__label">Show all sections</span>
        </button>
 
        {% for stage_page in self.get_children.specific %}

          <div class="app-accordion__section">
 
            <h2>
              <button type="button"
                      data-label="{{ stage.grouper }}"
                      class="app-accordion__section-button nhsuk-u-padding-bottom-3"
                      aria-controls="accordion-section-content-{{ forloop.counter }}"
                      aria-expanded="true">

                <div id="accordion-section-heading-{{ forloop.counter }}"
                     class="nhsuk-u-font-size-32 nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-1">
                  <span class="link-focus">
                    <a href="{{ stage_page.url }}">{{ stage_page.title }}</a>
                  </span>
                </div>
 
                <div class="app-accordion__section-toggle nhsuk-u-font-size-14">
                  <span class="link-focus">
                    <span class="app-accordion__chevron"></span>
                    <span class="app-accordion__section-toggle-text">Show</span>
                  </span>
                </div>
              </button>
            </h2>
 
            <div id="accordion-section-content-{{ forloop.counter }}"
                 class="app-accordion__section-content d-none"
                 aria-labelledby="accordion-section-heading-{{ forloop.counter }}">
 
              <table class="nhsuk-table nhsuk-u-margin-bottom-0">
                <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">{{ item.stage }} stage guides list</caption>
                <thead role="rowgroup" class="nhsuk-table__head">
                  <tr role="row">
                    <th role="columnheader" scope="col">What to consider</th>
                    <th role="columnheader" scope="col">Why is it important?</th>
                  </tr>
                </thead>
                <tbody class="nhsuk-table__body">
 
                  {% for details_page in stage_page.get_children.specific %}
                    <tr role="row" class="nhsuk-table__row">
                      <td class="nhsuk-table__cell">
                        <a href="{% pageurl details_page %}">{{ details_page.title }}</a>
                      </td>
                      <td class="nhsuk-table__cell ">{{ details_page.search_description }}</td>
                    </tr>
 
                  {% endfor %}
 
                </tbody>
              </table>

            </div>
          </div>
 
        {% endfor %}
      </div>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">{{ self.content }}</div>
  </div>

{% endblock content %}
