{% extends "theme/base.html" %}
{% load wagtailcore_tags %}
{% load nhsukfrontendforms_tags %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ page.title }}</h1>

      {{ self.content|richtext }}

      <form method="post" action="{% pageurl page %}" novalidate>
        {% csrf_token %}
        {% nhsuk_form form %}
        <input class="nhsuk-button" type="submit" value="Send question" />
      </form>

    </div>
  </div>

{% endblock content %}
