{% extends "theme/views_base.html" %}
{% load static wagtailcore_tags nhsukfrontendforms_tags %}

{% block content %}

  <div class="nhsuk-width-container app-width-container nhsuk-main-wrapper">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <h1>{{ page.title }}</h1>

        {{ self.intro|richtext }}

        <form method="post" action="{% pageurl page %}" novalidate>
          {% csrf_token %}
          {% nhsuk_form form %}
          <input class="nhsuk-button" type="submit" value="Send question" />
        </form>

      </div>
    </div>

  </div>

{% endblock content %}
