{% load static wagtailcore_tags wagtailuserbar wagtailmetadata_tags nhsukfrontend_tags base_tags %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>
    {% block title %}
    {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
    {% endblock title %}
    {% block title_suffix %}
    {% wagtail_site as current_site %}
    {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
    {% endblock title_suffix %}
  </title>
  <meta name="description" content="{{ page.search_description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% include "wagtailnhsukfrontend/favicons.html" %}
  {% meta_tags %}
  <link rel="canonical" href="{{ environment_variables.APP_PRD_URL }}{% pageurl page %}">

  {# Force all links in the live preview panel to be opened in a new tab #}
  {% if request.in_preview_panel %}
  <base target="_blank" />
  {% endif %}

  {# Global stylesheets #}
  <link rel="stylesheet" type="text/css" href="{% static "wagtailnhsukfrontend/css/nhsuk.min.css" %}" />
  {% compress css %}
  <link rel="stylesheet" type="text/x-scss" href="{% static 'styles/styles.scss' %}" />
  <link rel="stylesheet" type="text/x-scss" href="{% static 'styles/header_multilevel_navigation.scss' %}" />
  <link rel="stylesheet" type="text/x-scss" href="{% static 'styles/vertical_stepper_block.scss' %}" />
  {% block extra_css %}{% endblock extra_css %}
  {% endcompress %}

  <script type="text/javascript" src="{% static 'js/cookies_helper.js' %}"></script>
  <script type="text/javascript">
    window.__env = window.__env || {};
    window.__env.ENABLE_ANALYTICS = "{{ environment_variables.ENABLE_ANALYTICS }}";
    window.__env.TAG_MEASUREMENT_ID = "{{ environment_variables.TAG_MEASUREMENT_ID }}";
    window.__env.GTM_ID = "{{ environment_variables.GTM_ID }}";
  </script>
  {% if environment_variables.ENABLE_ANALYTICS %}
    <script type="text/javascript" src="{% static 'js/analytics.js' %}"></script>
  {% endif %}

</head>

<body class="{% block body_class %}{% endblock body_class %}">

  {% wagtailuserbar 'bottom-right' %}

  {% include "theme/header.html" %}

  {% breadcrumb %}

  <main id="maincontent" role="main">{% block content %}{% endblock content %}</main>

  {% include "theme/footer.html" %}

  {# Global javascript #}
  <script type="text/javascript" src="{% static 'wagtailnhsukfrontend/js/nhsuk.min.js' %}" defer></script>
  <script type="text/javascript" src="{% static 'js/scripts.js' %}" defer></script>
  {% block extra_js %}{% endblock extra_js %}

</body>

{% if environment_variables.ENABLE_ANALYTICS %}
  <noscript>
    <!-- Google Tag Manager (noscript) -->
    <iframe title="Google Tag Manager frame" src="https://www.googletagmanager.com/ns.html?id={{ environment_variables.TAG_MEASUREMENT_ID }}" height="0" width="0" class="d-none"></iframe>
  </noscript>
{% endif %}

</html>
