{% load static wagtailcore_tags %}

{% for block in self.content %}

  {% if block.value.background_color == 'white' %}<div class="bg-color-white">{% endif %}

  {% if block.block_type == 'fluid' %}
    {% include_block block.value.content %}
  {% else %}
    <div class="nhsuk-width-container app-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-{{ block.value.column }}">{% include_block block.value.content %}</div>
      </div>
    </div>
  {% endif %}

  {% if block.value.background_color == 'white' %}</div>{% endif %}

{% endfor %}
