{% extends "theme/views_base.html" %}
{% load static wagtailcore_tags wagtailimages_tags base_filters %}

{% block extra_css %}
  <style>
    button.form-input-appended-button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        box-shadow: none;
        margin: 0;
        padding: 4px 14px 0px 10px;
        fill: var(--white);
    }

    li.navigation-list {
        display: inline-block;
    }

    @media (min-width: 48.0625em) {
        li.navigation-list {
            display: block;
        }
    }
  </style>
{% endblock extra_css %}

{% block title %}
  Search
{% endblock title %}

{% block content %}

  <div class="nhsuk-width-container app-width-container nhsuk-main-wrapper">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <h1>
          Search results
          {% if search_query %}for "{{ search_query }}"{% endif %}
        </h1>
 
        <form id="search-page-form" method="get" action="{% url 'search' %}" role="search">
          <div class="nhsuk-form-group">
            {% wagtail_site as current_site %}
            <label for="search-page-search-field" class="nhsuk-u-visually-hidden">
              Search on the {{ current_site.site_name }}
            </label>
            <div class="d-flex">
              <input id="search-page-search-field"
                     name="query"
                     type="search"
                     {% if search_query %} value="{{ search_query }}"{% endif %}
                     placeholder="Search"
                     autocomplete="off"
                     class="nhsuk-input nhsuk-u-width-two-thirds"/>
              <button type="submit" class="nhsuk-button form-input-appended-button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" aria-hidden="true" focusable="false" height="24" width="24">
                  <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z" />
                </svg>
              </button>
            </div>

          </div>
        </form>

      </div>
    </div>

    <div class="nhsuk-grid-row nhsuk-u-padding-top-5">

      <div class="nhsuk-grid-column-one-quarter">
        <h2 class="nhsuk-heading-m nhsuk-u-padding-bottom-2 nhsuk-u-margin-bottom-3 border-bottom-separator-black">
          Filter by type
        </h2>
        <nav>
          <ol class="nhsuk-u-padding-0">
            {% for item in pages_types_list %}
              <li class="navigation-list">
                <a href="?{{ item.qp }}" class="app-tag nhsuk-u-font-size-14{% if item.is_active %} app-tag__selected{% endif %}">{{ item.name }}</a>
              </li>
            {% endfor %}
          </ol>
        </nav>
      </div>

      <div class="nhsuk-grid-column-three-quarters">

        {% if search_results %}

          <ul class="nhsuk-grid-row nhsuk-card-group">

            {% for item in search_results %}

              <li class="nhsuk-grid-column-full nhsuk-card-group__item">
                <div class="nhsuk-card d-flex align-items-center nhsuk-u-padding-5">
                  <div>
                    <h2 class="nhsuk-card__heading nhsuk-heading-m">
                      <span class="nhsuk-u-visually-hidden">{{ item|pagetypename }}:</span>
                      <a href="{% pageurl item %}">{{ item.seo_title|default:item.title }}</a>
                    </h2>
                    {% if item.search_description %}<p class="nhsuk-card__description">{{ item.search_description }}</p>{% endif %}
                    <p class="nhsuk-body-s font-color-secondary">{{ item.first_published_at|date:'F j, Y' }}</p>
                    <div class="app-tag app-tag__selected nhsuk-u-font-size-14">{{ item|pagetypename }}</div>
                  </div>

                  {% if item.search_image %}
                    {% comment %} <div style="min-width: 30%"> {% endcomment %}
                    {% image item.search_image max-250x250 as search_image %}
                    <img src="{{ search_image.url }}" class="nhsuk-card__img" alt="" />
                    {% comment %} </div> {% endcomment %}
                  {% endif %}
 
                </div>
              </li>

            {% endfor %}

          </ul>

          {% comment %} <ul class="nhsuk-list">

            {% for item in search_results %}

              <li class="d-flex align-items-center nhsuk-u-margin-4 border-bottom-separator-grey">
                  <div>
                    <h2 class="nhsuk-card__heading nhsuk-heading-m">
                      <div class="app-tag nhsuk-u-font-size-14">{{ item|pagetypename }}</div>
                      <div class="nhsuk-u-padding-top-2">
                        <a href="{% pageurl item %}">{{ item.seo_title|default:item.title }}</a>
                      </div>
                    </h2>
                    {% if item.search_description %}<p class="nhsuk-card__description">{{ item.search_description }}</p>{% endif %}
                    <p class="nhsuk-body-s font-color-secondary">{{ item.first_published_at|date:'F j, Y' }}</p>
                  </div>

                  {% if item.search_image %}
                    {% image item.search_image max-250x250 as search_image %}
                    <img src="{{ search_image.url }}" class="nhsuk-card__img" alt="" />
                  {% endif %}
              </li>

            {% endfor %}
          </ul> {% endcomment %}

        {% elif search_query %}

          <p class="nhsuk-u-font-weight-bold nhsuk-body-l nhsuk-u-padding-top-1 nhsuk-u-margin-bottom-3">
            There are no matching results.
          </p>
          <p class="nhsuk-u-margin-bottom-2">You may improve search results by:</p>
          <ul>
            <li>removing any selected filter</li>
            <li>double-checking your spelling</li>
            <li>using fewer words</li>
          </ul>
 
        {% else %}

          <p class="nhsuk-u-font-weight-bold nhsuk-body-l nhsuk-u-padding-top-1 nhsuk-u-margin-bottom-3">
            There are no matching results.
          </p>
          <p>You need to type in a search in order to find some results.</p>

        {% endif %}
 
        {% include "partials/pagination.html" with pages=search_results range=pagination_range query_params=current_url_query_params %}

      </div>

    </div>

  </div>

{% endblock content %}
