:root {
  --primary-color: #005eb8;
  --success-color: #007f3b;
  --warning-color: #ffeb3b;
  --error-color: #d5281b;

  --nhsuk-text-color: #212b32;
  --nhsuk-secondary-text-color: #4c6272;

  --nhsuk-link-color: #005eb8;
  --nhsuk-link-focus-color: #ffeb3b;
  --nhsuk-link-hover-color: #7C2855;

  --white: #ffffff;

  --color_nhsuk-grey-1: #4c6272;
  --color_nhsuk-grey-2: #768692;
  --color_nhsuk-grey-3: #aeb7bd;
  --color_nhsuk-grey-4: #d8dde0;
  --color_nhsuk-grey-5: #f0f4f5;
}


.d-block { display: block; }
.d-inline-block { display: inline-block; }
.d-flex { display: flex; }
.d-none { display: none; }

.align-items-center { align-items: center; }
/* .justify-content-space-between { justify-content: space-between; } */

.flex-auto { flex: auto; }
/* .flex-direction-column { flex-direction: column; } */

.ml-auto { margin-left: auto; }
.mr-auto { margin-right: auto; }

.text-align-left { text-align: start; }
.text-align-center { text-align: center; }
.text-align-right { text-align: end; }

.font-color-text { color: var(--nhsuk-text-color); }
.font-color-secondary { color: var(--nhsuk-secondary-text-color); }

.bg-color-white { background-color: var(--white); }
.bg-color-warning { background-color: var(--warning-color); }

.border-bottom-separator-black { border-bottom: 1px solid var(--nhsuk-text-color); }
.border-bottom-separator-grey { border-bottom: 1px solid var(--color_nhsuk-grey-4); }

a.link-with-icon {
  display: flex;
  align-items: start;
  fill: var(--primary-color);

  svg {
    width: 24px;
    min-width: 24px;
    margin-top: 2px;
  }
  &.nhsuk-body-s {
    svg { width: 19px; min-width: 19px; }
  }

  &:hover {
    fill: var(--nhsuk-link-hover-color);
  }
}


// App custom width.
.app-header__navigation {
  max-width: 1164px;
}
.app-width-container,
.nhsuk-hero .nhsuk-width-container,
.nhsuk-breadcrumb .nhsuk-width-container {
  max-width: 1100px;

  @media (min-width: 769px) and (max-width: 1164px) {
    margin: 0 32px;
  }
}


// Content visibility.
@media (max-width: 48.0525em) {
  .app-u-hide-mobile {
    display: none;
  }
}
@media (min-width: 48.0625em) {
  .app-u-hide-desktop {
    display: none;
  }
}
@media print {
  .app-u-hide-print { display: none; }
  a:after { content: none; }
  div.page-break {
    break-before: always;
    break-inside: avoid;
  }
}


// Configurations and overrides.

// // This works together with the WAGTAILEMBEDS_RESPONSIVE_HTML setting.
.responsive-object {
  position: relative;
  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// // Hotjar button focus.
._hj_feedback_container button:focus {
  box-shadow: -5px 0px #212b32, -5px 0px #212b32,  0px 5px #212b32, 0px -5px #212b32;
  outline: 3px solid #ffeb3b;
}


// Components.

// // Header.
.cookie-success-banner {

  background-color: var(--success-color);
  color: var(--white);

  a, a:visited {
    color: var(--white);
  }

  a:focus {
    color: var(--nhsuk-text-color);
  }

}

// // Loader component.
.app-loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 250px;

  &.d-none {
    display: none;
  }

  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
    margin-bottom: 15px;
  }

  .loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid var(--primary-color);
    animation: prixClipFix 2s linear infinite;
  }

  @keyframes rotate {
    100%   { transform: rotate(360deg) }
  }

  @keyframes prixClipFix {
      0%   { clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0) }
      25%  { clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0) }
      50%  { clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%) }
      75%  { clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%) }
      100% { clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0) }
  }
}


// // Print button.
.app-print-button {
  display: inline-block;
  border: 0;
  color: var(--primary-color);
  background: url("../icons/icon-print.png") no-repeat 10px 50%;
  background-color: white;
  padding: 12px 12px 12px 36px;
  font-size: 0.9rem;
  box-shadow: inset 0 0 0 1px var(--primary-color);
  text-decoration: none;

  &:link, &:visited {
    color: var(--nhsuk-link-color);
  }

  @media print {
    display: none;
  }
}

// // Tag.
.app-tag {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  color: var(--primary-color);
  display: inline-block;
  padding: 5px 10px;

  &.app-tag__selected {
    background: var(--primary-color);
    border: none;
    color: var(--white) !important;
  }

}

a.app-tag {

  text-decoration: none;

  &:link, &:visited {
    color: var(--nhsuk-link-color);
  }

  &:active, &:hover {
    color: var(--white);
    background: var(--primary-color);
  }

  &:focus {
    box-shadow: 0 0 0 4px #ffcd60;
  }
}

// // Round button link.
.round-button-link {
  padding: 1em 1.8em;
  background: var(--white);
  border-radius: 1.22rem;
  font-weight: 600;

  &:link, &:visited {
    color: var(--nhsuk-link-color);
  }

  &:active, &:hover {
    color: var(--white);
    background: var(--color_nhsuk-grey-2);
  }

  &:focus {
    box-shadow: 0 0 0 4px #ffcd60;
  }
}

// // Pagination.
.app-pagination {

  padding: 0;

  li {
    display: inline-block;
    margin: 0;

    a {
      border: 1px solid var(--color_nhsuk-grey-3);
      border-radius: 5px;
      padding: 8px 16px;
      margin: 2px;
      text-decoration: none;
    }

    a.selected {
      background-color: #0060b8;
      color: white;
    }

  }
}


// Blocks (used in streamfields).
// // Streamfield blocks.
.fixed-layout-blocks {

  padding-top: 48px;
  padding-bottom: 24px;

  @media (max-width: 40.0625em) {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  // This class matches all DIV having a class starting with "block-" .
  div[class^='block-'], div[class*=' block-'] {
    padding-bottom: 16px;

    @media (max-width: 40.0625em)  {
      padding-bottom: 8px;
    }

    .nhsuk-button, .nhsuk-action-link {
      margin-bottom: 8px;
      @media (max-width: 40.0625em) { margin-bottom: 12px; }
    }
    
  }

  div[class^='block-rich_text'] {
    padding-bottom: 0;
  }

}

// // Hero block.
.nhsuk-hero {
  @media (min-width: 48.0525em) { 
  .nhsuk-grid-row { display: flex; }
  .nhsuk-grid-column-one-third { text-align: center; } // Image right container.
  }
}

.nhsuk-width-container { // Specific scenario where the hero is used inside the main container.
  .nhsuk-hero {
    .nhsuk-grid-row {
      padding: 56px;
      @media (max-width: 72.75em) { padding: 24px; }
    }
  }
}

// // Banner block.
.app-banner-block {

  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;

  .app-banner-block__overlay {
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--white);

    .alignment-left {
      text-align: start;
      padding-right: 25%;
    }

    .alignment-center {
      text-align: center;
    }

    .app-banner-block__content {
      width: 100%;
    }

  }

}

.nhsuk-width-container {
  .app-banner-block {
    .alignment-left {
      padding: 56px;

      @media (max-width: 72.75em) {
        padding: 24px;
      }
    }
  }
}


// // Image gallery.
.image-gallery-block {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 15px;
  align-items: center;

  @media (min-width: 61.875em) {
    &.columns-2 { grid-template-columns: repeat(2, minmax(100px, 1fr)); }
    &.columns-3 { grid-template-columns: repeat(3, minmax(100px, 1fr)); }
    &.columns-4 { grid-template-columns: repeat(4, minmax(100px, 1fr)); }
  }

  img {
    // display: block;
    // max-width:230px;
    // max-height:95px;
    width: auto;
    height: auto;
  }

  .column-2 {
    grid-column: span 2;
  }

}

// // Richtext block customization.
.block-rich_text {

  p:empty {
    display: none;
  }

  img.richtext-image {
    width: 100%;
    height: auto;
  }

}
